




.big{
    height: 400px;
    width: 800px;
    background-color: brown;
}
#blue{
    width: 380px;
    height: 400px;
    background-color:rgb(67,175, 237);
    float: left;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    

}
#cow2{
    width: 380px;
    height: 400px;
    background-color: rgb(248, 246, 246);
    float: right;
    padding-left: 20px;
    text-align: center;
    
}
#blue>img{
    width: 6cm;
    height: 6cm;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 1px 2px 15px 2px gray;

}
#blue>button{
    padding: 5px 25px;
    border: none;
    color:rgb(67,175, 237);
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px gray;
}
#cow2>button{
    background-color:rgb(67,175, 237);
    width: 8cm;
    border: none;
    border-radius: 5px;
    text-decoration-color: white;
}
input{
    box-shadow: 1px 1px 2px 2px rgb(220,216, 216);
    border: none;
    padding: 10px;
    margin: ;


}